{% extends "bot/layout.html" %}

{% block body %}    

  <div class="text-center my-auto">
    <h1 class="mt-4">SłowotokBot</h1>
    <p class="lead">Proszę wpisać swoje litery:</p>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    <p class="">Nie masz pomysłu? Weź jeden od nas:</p>
    <div>{{ suggestion }}</div>

    {% if message %}
    <a href="{% url 'login' %}">{{ message }}</a>
    {% endif %}
  </div>
{% endblock %}
